@import "grid";
@import url(http://fonts.googleapis.com/css?family=Roboto);

$grey: #dedede;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

div {
    height: inherit;
}

a {
    text-decoration: none;
}

#sidebar {
    ul {
        list-style-type: none;
    }
    background-color: $grey;
}

#main-container {

}