@import "font-awesome/font-awesome";
@import "grid";
@import url(http://fonts.googleapis.com/css?family=Roboto);
$grey: #dedede;
$dark-blue: #0084d3;
$blue: #00a6f7;
$white: #fff;
$black: #1b1e25;
$light-blue: #c1d1e8;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    cursor: default;
}

div {
    border: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    height: 100%;
}

header {
    background-color: $blue;
    color: $white;
    overflow: auto;
    padding-left: 5%;
}

#sidebar {
    width: 150px;
    color: darken($grey, 57%);
    background-color: $grey;
    ul {
        list-style-type: none;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-padding-start: 0;
    }
    li {
        padding-left: 20px;
        line-height: 45px;

        &:hover {
            background-color: $light-blue;
        }
        &:before {
            font-family: FontAwesome;
            padding-right: 5px;
            content: "\f07b";
        }
    }
    .selected {
        background-color: darken($grey, 20%);
        &:before {
            content: "\f07c";
        }
    }
}

#main-container {
    width: calc(100% - 150px);
}
